<ion-view title="Calendar" animation="no-animation" class="no-animation">
  <ion-content>
    <ion-list>
    	<div class="myCalendar" id="myCalendar-1"></div>

    	<button ng-click="SearchWord()" class="button button-block button-positive">Search By Ward</button>

    	<button ng-click="SearchShift()" class="button button-block button-positive">Search By Shift</button>

    	<button ng-click="SearchName()" class="button button-block button-positive">Search By Name</button>
    </ion-list>
  </ion-content>
</ion-view>
